html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	/*overflow: hidden;*/
	background: #bbb;
}

#chatPanel {
	margin-bottom: 0px;
	width: 100%;
	height: 100%;

}

#chatPanelBody {
	width: 100%;
	/*margin-bottom: -56px;
	padding-bottom: 56px;*/
	height: calc(100% - 56px);
	/* Firefox */
	height: -moz-calc(100% - 56px);
	/* WebKit */
	height: -webkit-calc(100% - 56px);
	/* Opera */
	height: -o-calc(100% - 56px);

	overflow-y: scroll;
}

.chatBubbleCustomer {
		/*width: 270px;*/
		min-width: 240px;
		max-width: 80%;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 12px;
		padding-left: 12px;
		margin-left: 10px;
		margin-top: 10px;
		background: #DFF0D8;
		border-top-left-radius: 0px;
		border-top-right-radius: 12px;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		border: 2px solid #B2DBA1;
		float: left;
		color: #3C763D;
		
	}
.chatBubbleAdmin {
	/*width: 270px;*/
	min-width: 200px;
	max-width: 80%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 10px;
	margin-top: 10px;
	background: #D9EDF7;
	border-top-left-radius: 12px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border: 2px solid #9ACFEA;
	float: right;
	color: #31708f;
	
}

.chatBubbleTitle {
	/*width: 270px;*/
	font-weight: bold;
	font-size: ;
	float: left;
}
.chatBubbleTime {
	/*width: 270px;*/
	font-style: italic;
	float: right;
}
.chatBubbleMsg {
	margin-top: 22px;

}
