<!DOCTYPE html>
<html>
<head>
	<title>Node Chat using Socket.io</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/dashboard.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <!-- <script src="js/main.js"></script> -->
  <script src="/js/dashboard.js"></script>

</head>
<body ng-app="nodeChat">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-xs-3">

      <div class="panel panel-default" id="activeChatsPanel" ng-controller="activeChats">
        <div class="panel-heading">
          <h3 class="panel-title">Active Chats</h3>
        </div>
        <div class="panel-body" id="activeChatsPanelBody">
          <ul class="nav nav-pills nav-stacked">
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li> -->
            <li role="presentation" ng-repeat="chat in chats"><a href="/chat/{{chat._id}}"><strong>{{chat.name}}</strong><br>{{chat.email}}</a></li>


          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search User" aria-describedby="basic-addon1">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

    </div>

    <!-- Chat window -->
    <div class="col-xs-9">
      
      <div class="panel panel-default" id="chatPanel" ng-controller="chatMsgs">
        <div class="panel-heading">
          <h3 class="panel-title">{{name}}</h3>
          <p>{{email}}</p>
        </div>
        <div class="panel-body" id="chatPanelBody">
          <div ng-repeat="chatMsg in chatMsgs" class="row" ng-switch="chatMsg.sentBy">
            <div ng-switch-when="cust" class="col-sm-offset-1 col-sm-6">
              <div class="alert alert-success"><strong>Customer </strong>{{ chatMsg.msg }}</div>
            </div>
            <div ng-switch-when="admin" class="col-sm-offset-5 col-sm-6">
              <div class="alert alert-info"><strong>Admin </strong> {{ chatMsg.msg }}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Reply</span>
            <input type="text" class="form-control" ng-model="msgText" placeholder="Enter your message" aria-describedby="basic-addon1">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="sendMsgSocket()">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
  // var socket = io.connect('http://localhost:3000');
  // socket.on('greet', function (data) {
  //   console.log(data);
  //   //socket.emit('msgFromCustomer', { my: 'data' });
  // });
  // socket.on('msgFromAdmin', function (data) {
  // 	console.log(data);
  // });
</script>

</body>
</html>